<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Standard Table</title>
    <style>
        table {
            width: 80%;
            border-collapse: separate;
            border-spacing: 0;
            margin-left: 10%;
            margin-top: 2%;
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: cadetblue;
            
        }

        
        th, td {
            padding: 15px 20px;
            text-align: center;
        }

        th {
            font-weight: bold;
        }

        td {
            font-size: 14px;
            background-color: #fff;
            border-bottom: 1px solid #ddd;

        }

        
            

        h1 {
            text-align: center;
            margin-top: 20px;
        }

        button {
            padding: 8px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

            button:hover {
                background-color: #dc3545; /* Red */
                color: #fff;
            }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>
<body>

    <table>
        <h1>Item list</h1>
        <thead>
            <tr>
                <th>Sr</th>
                <th>Item Name</th>
                <th>Item Price</th>
                <th>Quantity</th>
                <th>Item Location</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < ViewBag.item.Count; i++)
            {
                <tr>
                    <td style="text-align:center">@(i + 1)</td>
                    <td style="text-align:center">@ViewBag.item[i].item_name</td>
                    <td style="text-align:center">@ViewBag.item[i].item_price</td>
                    <td style="text-align:center">@ViewBag.item[i].qty</td>
                    <td style="text-align:center">@ViewBag.item[i].item_location</td>
                    <td>
                        <button type="button" class=" btn-danger">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class=" btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>


            }
        </tbody>
    </table>

</body>
</html>
