
<title>@ViewData["Title"] Item List</title>
@* @{
    Layout = "_Layout";
} *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            width: 80%;
            border-collapse: separate;
            border-spacing: 0;
            margin-left: 10%;
            margin-top: 2%;
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: cadetblue;
            
        }

        
        th, td {
            padding: 15px 20px;
            text-align: center;
        }

        th {
            font-weight: bold;
        }

        td {
            font-size: 14px;
            background-color: #fff;
            border-bottom: 1px solid #ddd;

        }

        
            

        h1 {
            text-align: center;
            margin-top: 20px;
        }

        button {
            padding: 8px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

            button:hover {
                background-color: #dc3545; /* Red */
                color: #fff;
            }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>
<body>

    <table>
        <h1>Item list</h1>
        <thead>
            <tr>
                <th>Sr</th>
                <th>Item Name</th>
                <th>Item Price</th>
                <th>Quantity</th>
                <th>Item Location</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < ViewBag.item.Count; i++)
            {
                <tr>
                    <td style="text-align:center">@(i + 1)</td>
                    <td style="text-align:center">@ViewBag.item[i].item_name</td>
                    <td style="text-align:center">@ViewBag.item[i].item_price</td>
                    <td style="text-align:center">@ViewBag.item[i].qty</td>
                    <td style="text-align:center">@ViewBag.item[i].item_location</td>
                    <td>
                        <button>
                            <a style="text-decoration:none ; color:black" href="@Url.Action("Edit","Item",new {stk_id = @ViewBag.item[i].stk_id})" class="btn btn-success">
                                <i class="fas fa-edit"></i>
                            </a>
                        </button>
                        <button type="button" class="btn btn-danger" onclick="deleteitem(@ViewBag.item[i].stk_id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>


            }
        </tbody>
    </table>

</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function deleteitem(stk_id) {
        debugger
        if (confirm("Are you sure you want to delete this entry?")) {
            $.ajax({
                url: '/Stock/Item/Delete/' + stk_id,
                type: 'POST',
                success: function (result) {
                    if (result != null) {
                        window.location.reload();
                    }

                },
                error: function () {

                }
            });
        }
    }
</script>
